.bg-custom-color {
    background-color: #970747 !important;
}
.logo {
    width: 125px !important;
    border-radius: 25px !important;
}

.color-title {
    color: #FEF4E8 !important;
}

.no-hover-color-change:hover {
    background-color: transparent !important;
    /* Cette règle annule la couleur de fond au survol */
}

.color-heading {
    color: #FEF4E8 !important;
    border-radius: 0 15px !important; 
}
.navbar-nav .nav-item.active .nav-link {
    color: #970747 !important;
    background-color: #FEF4E8 !important;
    border: 3px solid black;
    border-radius: 0 15px !important;
}
.color-btn {
    color: transparent !important;
    background-color: #FEF4E8 !important;
    border-color: black !important;
    border-radius: 0 15px !important;
    border-width: 3px !important;
}
.color-search {
    background-color: #FEF4E8 !important;
    color: #970747 !important;
    border-color: black !important;
    border-width: 3px !important;
    border-radius: 0 15px !important;
}
.mod-search {
    background-color: #FEF4E8 !important;
    border-color: black !important;
    border-width: 3px !important;
    border-radius: 15px !important;
}