.bg-custom-color {
    background-color: #970747 !important;
    border: 3px solid #FEF4E8 !important;
}

.logo {
    width: 125px !important;
    border-radius: 25px !important;
}

.color-title {
    color: #FEF4E8 !important;
}
.color-heading {
    color: #FEF4E8 !important;
    border-radius: 0 15px !important; 
}
.navbar-nav .nav-item.active .nav-link {
    color: #1a1a1a !important;
}
.color-btn {
    color: transparent !important;
    background-color: #FEF4E8 !important;
    border-color: #1a1a1a !important;
    border-radius: 0 15px !important;
    border-width: 3px !important;
}
.color-search {
    background-color: #FEF4E8 !important;
    color: #970747 !important;
    border-color: #1a1a1a !important;
    border-width: 3px !important;
    border-radius: 0 15px !important;
}
.mod-search {
    background-color: #FEF4E8 !important;
    border-color: #1a1a1a !important;
    border-width: 3px !important;
    border-radius: 15px !important;
}
.navbar-nav {
    margin: auto !important; 
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.foot {
    background-color: #970747 !important;
    border-radius: 15px !important;
    border: 3px solid !important;
    border-color: #FEF4E8 !important;
}
.mod-rs {
    color: #FEF4E8 !important;
    font-size: 60px !important;
}
.col-btn {
    color: #FEF4E8 !important;
}
.col-btn:hover {
    color: #FEF4E8 !important;
}
/* body {
    background-color: #970747 !important;
} */
.mod-video {
    border: 3px solid #FEF4E8 !important;
    background-color: #970747 !important;
}
.card {
    border: 3px solid #FEF4E8 !important;
    background-color: #970747 !important;
    width: 305px !important;
    color: #FEF4E8 !important;
    text-align: center !important;
}
.card-img {
    height: 200px !important;
    width: 300px !important;
}
  /* Ajouter un effet de zoom aux images au survol */
  .zoom-image {
    transition: transform 0.2s !important;
  }
  
  .zoom-image:hover {
    transform: scale(1.1) !important;
  }
  .dark-theme {
    background-color: #1a1a1a; /* Couleur de fond sombre */
    color: #ffffff; /* Couleur du texte */
  }
  
  










